# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binaries, build with `go test -c` and `go build`
*.test
auth-service

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoLand/vscode crap
.idea/
.vscode/

# vendor dependencies
vendor/

# RSASHA256 priv/pub keys
id_rsa
id_rsa_pub